<div class="container py-5" *ngIf="produto">
    <nav style="margin-bottom: 10px;">
        <a routerLink="/produtos">Produtos</a> &gt;
        <span>Detalhe</span>
    </nav>
    <div class="row">
        <!-- Imagem do Produto -->
        <div class="col-md-5">
            <img [src]="produto.imagem" class="img-fluid rounded shadow-sm" *ngIf="produto.imagem"
                alt="{{ produto.nome }}" />
        </div>

        <!-- Detalhes do Produto -->
        <div class="col-md-7 d-flex flex-column">
            <h2 class="mb-3">{{ produto.nome }}</h2>
            <p class="text-muted">{{ produto.descricao }}</p>
            <h4 class="text-primary fw-bold mb-4">R$ {{ produto.preco }}</h4>

            <button class="btn btn-success btn-lg mt-auto align-self-start" (click)="adicionarAoCarrinho()">
                <i class="bi bi-cart-plus me-2"></i>
                Adicionar ao Carrinho
            </button>
        </div>
    </div>
</div>